{% extends "layout/admin/template.twig" %}
{% block title %}
	{{options.title}}
{% endblock %}

{% block content %}
	{% include 'layout/admin/header_content.twig' %}
	<div class="container-fluid">
		{% include "partials/_messages.twig" %}
		<div class="card">
			<div class="card-header">
				{{options.subject}}
			</div>
			<div class="card-body">
                <div class="col-md-6">
                    <table class="table table-hover">
                        <tr>
                            <th>Nombre:</th>
                            <td> {{level.name}} </td>
                        </tr>
                        <tr>
                            <th>Creado:</th>
                            <td> {{level.created_at|date('d-m-Y H:i:s')}} </td>
                        </tr>
                        <tr>
                            <th>Creado:</th>
                            <td> {{level.updated_at|date('d-m-Y H:i:s')}} </td>
                        </tr>
                    </table>
                    <p>
                        <a href="{{BASE}}{{options.back.link}}">{{options.back.name}}</a>
                    </p>
                </div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
{% endblock %}
