<nav class="navbar navbar-expand-lg navbar-light px-2" style="background-color:#81BEF7">
	<a class="navbar-brand text-primary" href="{{BASE}}">Cursos</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link text-primary" href="{{BASE}}">Home <span class="sr-only"></span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-primary" href="{{BASE}}courses/courses">Cursos</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Acceder
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item text-primary" href="{{BASE}}login/login">Login</a>
				<a class="dropdown-item text-primary" href="{{BASE}}users/create">Registro</a>
				</div>
			</li>
			{% if session.authenticate %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{session.user_name}}
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item text-primary" href="{{BASE}}">Perfil</a>
					<a class="dropdown-item text-primary" href="{{BASE}}login/logout">Cerrar Sesion</a>
					</div>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>